In [22]:
import pandas as pd
from sqlalchemy import create_engine
from config import user, password

In [23]:
zika_path = "Resources/ZikaData2015.xlsx"
df_zika_init = pd.read_excel(zika_path)
demograph_path = "Resources/PEP_2018_PEPTCOMP_with_ann.csv"
df_demo_raw_init = pd.read_csv(demograph_path)
df_demo_raw = df_demo_raw_init.iloc[1:]
df_zika_raw = df_zika_init.iloc[1:]

In [24]:
df_demo_raw.rename (columns={'GEO.display-label': 'States'}, inplace=True)
df_demo_select = df_demo_raw[["States","births4201072018","deaths4201072018"]]

In [26]:
df_merged = df_demo_select.merge(df_zika_raw, on="States")

In [27]:
df_merged_drop = df_merged.drop(columns = ["Unnamed: 2", "Unnamed: 4", "Presumptive viremic blood donorsâ€ (N=0)"])

In [33]:
df_merged_renamed = df_merged_drop.rename(columns = {"States":"State","births4201072018":"Births","deaths4201072018":"Deaths","Symptomatic disease cases*(N=62)":"Zika_Cases"})
df_merged_renamed.head()

             Births   Deaths Zika_Cases
States
Alabama      484329   418734          0
Arizona      703872   434572          0
Arkansas     314960   251951          2
California  4078895  2094459         13
Colorado     543471   289139          0

In [30]:
#Export to SQL
#Make sure to run queries.sql to set up database
#Remember to create config.py with user and password
rds_connection_string = user + ":" + password + "@127.0.0.1/state_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [31]:
engine.table_names()

['state_data']

In [32]:
df_merged_renamed.to_sql(name='state_data', con=engine, if_exists='append', index=False)

IntegrityError: (_mysql_exceptions.IntegrityError) (1364, "Field 'States' doesn't have a default value")
[SQL: INSERT INTO state_data (`Births`, `Deaths`, `Zika_Cases`) VALUES (%s, %s, %s)]
[parameters: (('484329', '418734', 0), ('703872', '434572', 0), ('314960', '251951', 2), ('4078895', '2094459', 13), ('543471', '289139', 0), ('298938', '247536', 0), ('90864', '69108', 0), ('78391', '40740', 4)  ... displaying 10 of 51 total bound parameter sets ...  ('61495', '38474', 0), ('278334', '244087', 10))]
(Background on this error at: http://sqlalche.me/e/gkpj)