In [1]:
# Import Dependencies\
import pandas as pd

In [2]:
zika_path = "Resources/ZikaData2015.xlsx"
df_zika_init = pd.read_excel(zika_path)
demograph_path = "Resources/PEP_2018_PEPTCOMP_with_ann.csv"
df_demo_raw_init = pd.read_csv(demograph_path)
df_demo_raw = df_demo_raw_init.iloc[1:]
df_zika_raw = df_zika_init.iloc[1:]

In [3]:
df_demo_raw.rename (columns={'GEO.display-label': 'States'}, inplace=True)
df_demo_select = df_demo_raw[["States","births4201072018","deaths4201072018"]]

C:\Users\Admin\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [4]:
df_merged = df_demo_select.merge(df_zika_raw, on="States")
df_merged.set_index("States", inplace=True)

In [5]:
df_merged_drop = df_merged.drop(columns = ["Unnamed: 2", "Unnamed: 4", "Presumptive viremic blood donorsâ€ (N=0)"])

In [6]:
df_merged_renamed = df_merged_drop.rename(columns = {"States":"State","births4201072018":"Total 04/2018 - 06/2018 Births","deaths4201072018":"Total 04/2018 - 06/2018 Deaths","Symptomatic disease cases*(N=62)":"Confirmed Zika Cases"})
df_merged_renamed.head()

,Total 04/2018 - 06/2018 Births,Total 04/2018 - 06/2018 Deaths,Confirmed Zika Cases
States,,,
Alabama,484329,418734,0
Arizona,703872,434572,0
Arkansas,314960,251951,2
California,4078895,2094459,13
Colorado,543471,289139,0